<h1>Logar</h1>

@if(TempData["erro"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["erro"]
                </div>
            }
<form action="/Login/Entrar" method="post">
    <input name="login" type="text"></input>
    <br />
    <input name="senha" type="password"></input>
    <br />
    <button type="submit">Logar</button>
</form>